.aboutContainer {
    
    width: 100%;
}

.aboutIntroduce-left {
    position: fixed;
    top: 270px;
    left: 80px;
    width: 20%;
}

.title, .subtitle {
    margin: 0;
}

.title {
    font-size: 90px;
}

.subtitle {
    font-size: 30px;
}



.aboutIntroduce-right {
    margin-left: 25%;
    padding: 20px;
    max-width: 1000px;
    border: 1px solid red;
}

.introduce .hi {
    font-size: 52px;
    background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
    background-clip: text;
    background-size: 20%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.intro{
    font-size: 27px;
}

.introduce .highlight {
    font-weight: bold;
}

.subIntro {
    font-size: 28px;
    color: rgb(108, 114, 119);
}



.skillContainer {
    border: 1px solid red;
    
    width: 90%;
    padding: 25px;
}

.skillCon1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.skillUp {
   border-radius: 7px;
   cursor: pointer;
}

.skillInfo {
    
}


/* 스킬업데이트 모달 */
.skillUpdateModal {
    width: 500px;
    height: 100px;
    background-color: rgb(128, 120, 121);
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}
/* 스킬업데이트 모달 */







@keyframes fadeSlide {
    0% {
      opacity: 0;
      transform: translateY(-120px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeSlide 2s ease forwards;
  }
