.headerContainer {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.headerTitle {
    font-size: 30px;
    font-weight: bold;
}

.headerMenu {
    display: flex;
    flex-direction: row;
    gap: 27px;
    font-size: 24px;
    font-weight: bold;
   
}

.link {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    font-weight: normal;
    transition: 0.2s;
  }

  .loginLink {
    text-decoration: none;
    color: rgb(199, 85, 199);
    padding: 8px 12px;
    font-weight: normal;
    transition: 0.2s;
    cursor: pointer;
  }

  .loginName {
    text-decoration: none;
    color: rgb(199, 85, 199);
    padding: 8px 12px;
    font-weight: normal;
    transition: 0.2s;
  }
  
  .link:hover {
    color: #007bff;
  }
  
  .link.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
  }
  

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 💀 어둡게 흐림 */
    z-index: 998; /* 모달보다 아래지만 화면 위 */
  }
  

  /* 반응형 */

  @media (max-width: 1024px) {
    .headerContainer {
      flex-direction: column;
      height: auto;
      padding: 15px;
    }
  

  }

  @media(max-width: 767px) {
    .headerContainer {
      flex-direction: column;
      height: auto;
        width: 100%;
    }

    .headerMenu {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center; 
      justify-content: center; 
      
    }

    .link,
    .loginLink,
    .loginName {
      font-size: 15px;
      padding: 6px 8px;
    }

  }


  /* 반응형 */