.headerContainer {
    background-color: black;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.headerTitle {
    font-size: 30px;
    font-weight: bold;
}

.headerMenu {
    display: flex;
    flex-direction: row;
    gap: 27px;
    font-size: 24px;
    font-weight: bold;
    
}

.link {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    font-weight: normal;
    transition: 0.2s;
  }
  
  .link:hover {
    color: #007bff;
  }
  
  .link.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
  }
  