body {
  margin: 0;
  font-family: 'font1', sans-serif;
  

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'font1';
  src: url('./assets/fonts/font1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeSlide 2s ease forwards;
}


@keyframes fadeRightSlide {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-right {
  animation: fadeRightSlide 2s ease forwards;
}